.update-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 250, 250, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .update-content {
    width: 650px;
    height: 450px;
    background-color: #fcf8f8;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);  
    position: relative;
  }
  
  .update-content h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 30px;
    text-align: center;
  }
  
  .update-content .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 10px;
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}
  
.update-content form {
    position: relative;

  }
  .update-content .left-section, .right-section {
    display: inline-block;
    width: 50%;
  }
  
  .update-content.form-group {
    margin-bottom: 20px;
  }
  
  .update-content .form-group label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    padding-right: 10px;
    /* width: 20%; */
    text-align: left;
  }
  
  .update-content .form-group input,
  .update-content .form-group select {
    box-sizing: border-box;
    display: inline-block;
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  
  }
  
  .update-content .form-group select {
    height: 36px;
  }
  
  .update-content .form-group textarea {
    height: 120px;
    width: 90%;
    resize: none;
  }
  
  .update-content .form-submit {
    margin-top: 20px;
  }
  
  
  
  .update-content  .time {
    display: inline-block;
  }
  
  .update-content .description-label{
    display: block !important;
  }
  
  

  
  .update-content .add-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #FFD51E;
    color: #433462;
    padding: 15px 20px;
    border-radius: 10%;
    border: none;
    font-size: 18px;
    cursor: pointer;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  }
  
  
  
  
  .update-content .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .update-content  .square {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .update-content  .plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }
  
  .update-content  .square:hover .plus {
    visibility: hidden;
  }
  
  .update-content  .image-square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .update-content   .image {
    max-width: 100%;
    max-height: 100%;
  }

  .update-content  #status {
    width: 20px;
    margin-left: 70px;
  }

  .update-content  #status-label {
    display: block!important;
  }

  .update-content .add-button{
    position: absolute;
    margin-top: 20px;
  }