.signup .wrap {
    position: relative;
    height: calc(120vh - 100px);
    padding: 0;
    padding-right: 50px;
    display: flex;
    align-items: center;
  }
  
  .signup-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .signup-form {
    margin-left: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 34%;
    background: #faf4e7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .signup .heading {
    margin: auto;
    display: flex;
    margin-right: 95px;
    gap: 10px;
    align-items: center;
    margin-top: -5px;
  }
  
  .signup .image {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .signup h3 {
    font-size: 26px;
    text-align: center;
  }
  
  .signup .form-group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 90%;
    font-size: 16px;
    font-weight: 600;
  }
  
  .signup .form-group input {
    padding: 10px 15px;
    outline: none;
    border: none;
    margin-left: 15px;
    padding: 12px;
    background: #c68b59;
    border-radius: 20px;
  }
  
  .signup button {
    margin: auto;
    width: fit-content;
    padding: 15px 20px;
    border: none;
    background: #feebc0;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .signup a {
    text-align: center;
    color: #8e5dfe;
}
  